/* css styles */

.katex { 
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1em !important; 
} 
 
.MathJax { 
  font-size: 1.1em !important; 
  vertical-align: 0.1px;
}

.MathJax_Display{
  overflow-x: auto;
  overflow-y: hidden;
}

iframe {
  border: 1px solid black;
  width: 100%;
}

/* Formatos de tabla */

/* Tabla simple de 2 columnas */

.table_2col {
  overflow: auto;
  width: 100%;
}

.table_2col table {
  border: 1px solid #000000;
  height: 45%;
  width: 20%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table_2col caption {
  caption-side: top;
  text-align: left;
}

.table_2col th {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 1px;
}

.table_2col td {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 1px;
}

/* Tabla simple de 3 columnas */

.table_3col {
  overflow: auto;
  width: 100%;
}

.table_3col table {
  border: 1px solid #000000;
  height: 45%;
  width: 30%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table_3col caption {
  caption-side: top;
  text-align: left;
}

.table_3col th {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 1px;
}

.table_3col td {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 1px;
}

/* Tabla simple de 4x4 */

.table_d_4x4 {
    overflow: auto;
    width: 100%;
}

.table_d_4x4 table {
    border: 1px solid #000000;
    height: 45%;
    width: 35%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

.table_d_4x4 caption {
    caption-side: top;
    text-align: left;
}

.table_d_4x4 th {
    border: 1px solid #000000;
    background-color: #b8b8b8;
    color: #000000;
    padding: 1px;
}

.table_d_4x4 td {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    padding: 1px;
}

/* Tabla glosario */

.table_glossary {
    overflow: auto;
    width: 100%;
}

.table_glossary table {
    border: 1px solid #000000;
    height: 45%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
}

.table_glossary caption {
    caption-side: top;
    text-align: left;
}

.table_glossary th {
    border: 1px solid #000000;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1px;
    text-align: center;
}

.table_glossary td {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    padding: 1px;
    text-align: left;
}

  /* Ajuste de anchos de columnas */

.table_glossary th:nth-child(1),
.table_glossary td:nth-child(1) {
    width: 20%;
}

.table_glossary th:nth-child(2),
.table_glossary td:nth-child(2) {
    width: 20%;
}

.table_glossary th:nth-child(3),
.table_glossary td:nth-child(3) {
    width: 60%;
}